In [294]:
import pandas as pd
import numpy as np
import re
from sklearn.cluster import KMeans

In [3]:
food_list = pd.read_csv('food_list.csv')

In [4]:
food_list.shape

(1301, 8)

In [56]:
food_data = pd.read_csv('food_data.csv')

In [57]:
food_data.shape

(1301, 9)

In [58]:
food_data.reset_index(inplace=True)

In [59]:
food_data.columns = ['id', 'food_name', 'food_url', 'Calories', 'Carbs', 'Fat', 'Protein',
       'Fiber', 'type', 'ingredients']

In [193]:
food_data.drop('food_url',axis=1,inplace=True)

In [61]:
food_data['meal_type'] = 'meal'

In [62]:
index = food_data[food_data['Calories']<300]['id']

In [63]:
for i in index:
    food_data.set_value(i,'meal_type', 'breakfast')

/home/hardik/hardik/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [86]:
food_data.meal_type.value_counts()

lunch        520
dinner       417
breakfast    364
Name: meal_type, dtype: int64

In [65]:
index = food_data[food_data['Calories']>600]['id']

In [66]:
for i in index:
    food_data.set_value(i,'meal_type', 'dinner')

/home/hardik/hardik/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [80]:
index = food_data[(food_data['Calories']<=600) & (food_data['Calories']>=300)].sample(n=520)['id']

In [82]:
for i in index:
    food_data.set_value(i,'meal_type', 'lunch')

/home/hardik/hardik/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [84]:
index = food_data[food_data.meal_type == 'meal']['id']

In [85]:
for i in index:
    food_data.set_value(i,'meal_type', 'dinner')

/home/hardik/hardik/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [183]:
food_data['food_type'] = 'Veg'

In [184]:
index = food_data[food_data.food_name.str.contains(pat, flags=re.IGNORECASE, regex=True)].id

In [185]:
for i in index:
    food_data.set_value(i,'food_type', 'Non-Veg')

/home/hardik/hardik/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [197]:
index = food_data[food_data.type == 'meat'].id

In [198]:
for i in index:
    food_data.set_value(i,'food_type', 'Non-Veg')

/home/hardik/hardik/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [199]:
food_data['food_type'].value_counts()

Non-Veg    918
Veg        383
Name: food_type, dtype: int64

In [187]:
pat = 'Chicken|Egg|Meat|pork|beef|ham|Ham|Pork|turkey|Turkey|Salami|Tuna|Ribs|Bacon'
pat += '|sausage|lamb|mutton|Mutton|Steak|fish|Fish|Sushi|Papparoni|lobster|shrimp|rabbit|salmon|Salmon|Shrimp'

In [200]:
food_data[food_data['food_type'] == 'Veg'].sample(10)

,id,food_name,Calories,Carbs,Fat,Protein,Fiber,type,ingredients,meal_type,food_type
222,222,Cheesy Spinach and Mushroom Lasagna Rolls,552,74.7 g,15.0 g,27.5 g,6.8 g,pasta,[],lunch,Veg
168,168,Fettuccine alfredo,401,43.8 g,20.4 g,14.5 g,0.1 g,pasta,"Heavy whipping cream, Butter, Pepper, Salt, Pa...",lunch,Veg
397,397,Sliced Baguette with Radishes and Anchovy Butter,247,36.7 g,7.3 g,8.8 g,1.9 g,sandwich,[],breakfast,Veg
6,6,Jasmine Rice with Peanuts and Scallions,110,13.2 g,4.9 g,3.9 g,1.2 g,pasta,"White rice, Scallions, Water, Chicken broth, P...",breakfast,Veg
134,134,Pea and Parmesan Wonton Ravioli,220,39.1 g,3.4 g,7.3 g,1.9 g,pasta,"Peas, Butter, Wonton wrappers, Parmesan cheese...",breakfast,Veg
472,472,Sweet Grilled Cheese,471,33.7 g,28.6 g,20.5 g,3.4 g,sandwich,[],lunch,Veg
305,305,Five Ingredient Pasta Toss,491,76.6 g,14.9 g,18.5 g,7.2 g,pasta,[],lunch,Veg
191,191,Pastachutta,258,44.7 g,6.6 g,8.8 g,0.4 g,pasta,[],breakfast,Veg
605,605,Bagel with Cream Cheese,315,57.8 g,4.0 g,12.2 g,2.6 g,sandwich,[],lunch,Veg
373,373,Avocado Sandwich with Green Harissa,805,45.8 g,67.3 g,11.9 g,15.0 g,sandwich,[],dinner,Veg

In [201]:
meals = food_data['id']

In [252]:
meals.shape

(1301,)

In [202]:
users = np.arange(30)

In [208]:
sex = np.random.randint(0,2,30)

In [213]:
age = np.random.randint(18,64,30)

In [216]:
height = np.random.randint(140, 200, 30)

In [220]:
weight = np.random.randint(90,300,30)

In [243]:
calorie_intake = np.random.randint(1200,3000,30)

In [244]:
calorie_intake = np.round(calorie_intake/100)*100

In [246]:
calorie_intake = calorie_intake.astype('int')

In [247]:
activity = np.random.randint(0,3,30)

In [248]:
'users,sex,age,weight,height,calorie_intake, activity'.split(',')

['users', 'sex', 'age', 'weight', 'height', 'calorie_intake', ' activity']

In [280]:
user_table = pd.DataFrame(np.column_stack([users,sex,age,weight,height,calorie_intake, activity]), columns=['users', 'sex', 'age', 'weight', 'height', 'calorie_intake', 'activity']
)

In [286]:
user_table.columns

Index(['users', 'sex', 'age', 'weight', 'height', 'calorie_intake',
       'activity'],
      dtype='object')

In [287]:
user_table = pd.concat([user_table,pd.get_dummies(user_table['activity'], prefix='activity')],axis=1)

In [289]:
user_table = pd.concat([user_table,pd.get_dummies(user_table['sex'], prefix='sex')],axis=1)

In [291]:
user_table.drop(['sex','activity'],axis=1,inplace=True)

In [306]:
user_table.loc[0] = user_table.loc[1]

user_table.loc[0]['users'] = 0

user_table

In [308]:
user_table.loc[3] = user_table.loc[1]

user_table.loc[3]['users'] = 3

user_table

,users,age,weight,height,calorie_intake,activity_0,activity_1,activity_2,sex_0,sex_1
0,0,47,134,168,2100,0,1,0,0,1
1,1,47,134,168,2100,0,1,0,0,1
2,2,27,294,145,1200,0,0,1,1,0
3,3,47,134,168,2100,0,1,0,0,1
4,4,27,192,174,1600,1,0,0,0,1
5,5,46,245,184,2900,0,0,1,1,0
6,6,27,111,143,2700,1,0,0,1,0
7,7,19,295,151,1400,0,1,0,1,0
8,8,53,95,190,2400,1,0,0,1,0
9,9,25,229,177,2700,0,0,1,0,1
10,10,43,245,182,2200,0,0,1,1,0
11,11,54,148,171,1500,0,0,1,0,1
12,12,19,141,145,2600,1,0,0,1,0
13,13,45,243,165,2500,0,0,1,1,0
14,14,22,248,152,2100,1,0,0,0,1
15,15,34,106,143,2700,0,1,0,1,0
16,16,19,199,176,2800,1,0,0,0,1
17,17,30,293,154,1300,1,0,0,0,1
18,18,20,90,154,2100,1,0,0,0,1
19,19,32,217,170,1700,0,0,1,1,0
20,20,18,240,159,2200,1,0,0,1,0
21,21,19,196,167,3000,0,0,1,1,0
22,22,54,176,170,2300,1,0,0,1,0
23,23,29,284,185,1900,0,1,0,1,0
24,24,41,186,196,2200,0,1,0,0,1
25,25,53,215,149,2300,0,1,0,0,1
26,26,44,186,195,2000,1,0,0,1,0
27,27,28,270,147,1500,1,0,0,1,0
28,28,35,228,196,2200,1,0,0,1,0
29,29,33,142,160,1600,0,0,1,1,0

In [ ]:
[29,33,142,160,1600,0,0,1,1,0]

In [253]:
break_fast_index = food_data[food_data['meal_type'] == 'breakfast'].sample(20)['id']

In [254]:
lunch_index = food_data[food_data['meal_type'] == 'lunch'].sample(20)['id']

In [255]:
dinner_index = food_data[food_data['meal_type'] == 'dinner'].sample(20)['id']

In [257]:
meals = []

In [259]:
for user in user_table['users']:
    for bf in break_fast_index.sample(7):
        meals.append([user,bf])
    
    for bf in lunch_index.sample(7):
        meals.append([user,bf])
    for bf in dinner_index.sample(7):
        meals.append([user,bf])

In [342]:
meals_df = pd.DataFrame(meals,columns=['user_id','meal_id'])

In [343]:
meals_df['ratings'] = np.random.randint(4,11,630)

In [345]:
meals_df = pd.merge(meals_df, food_data, left_on='meal_id', right_on='id', how='inner')

In [346]:
meals_df.columns

Index(['user_id', 'meal_id', 'ratings', 'id', 'food_name', 'Calories', 'Carbs',
       'Fat', 'Protein', 'Fiber', 'type', 'ingredients', 'meal_type',
       'food_type'],
      dtype='object')

In [347]:
meals_df = meals_df[['user_id', 'meal_id', 'ratings','meal_type']]

In [311]:
train = user_table.drop('users',axis=1)

In [312]:
kmeans = KMeans(n_clusters=5, random_state=0).fit(train) #Using K-means clustering for the genres in this case

kl = kmeans.labels_

In [326]:
result = kmeans.predict([[64,200,180,3000,0,1,1,0,0]])

In [376]:
selected_meals = pd.merge(user_table[user_table.cluster == result[0]], meals_df, left_on='users', right_on='user_id', how='inner')

In [377]:
selected_meals = selected_meals[['user_id','meal_id','ratings', 'meal_type']]

In [378]:
breakfast_meals = selected_meals[selected_meals.meal_type == 'breakfast'].sort_values(by='ratings', ascending=False)

In [379]:
breakfast_meals.drop_duplicates('meal_id', inplace=True, keep='first')

In [380]:
list(breakfast_meals.head(7)['meal_id'])

[632, 268, 645, 961, 1112, 969, 1161]

In [381]:
lunch_meals = selected_meals[selected_meals.meal_type == 'lunch'].sort_values(by='ratings', ascending=False)

In [382]:
lunch_meals.drop_duplicates('meal_id', inplace=True, keep='first')

In [383]:
list(lunch_meals.head(7)['meal_id'])

[617, 406, 842, 606, 822, 864, 128]

In [387]:
dinner_meals = selected_meals[selected_meals.meal_type == 'dinner'].sort_values(by='ratings', ascending=False)

In [388]:
dinner_meals.drop_duplicates('meal_id', inplace=True, keep='first')

In [389]:
list(dinner_meals.head(7)['meal_id'])

[778, 903, 886, 1277, 227, 199, 307]